<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Video</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="#">Page 2</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Video Ideas
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/ideas">Ideas</a></li>
          <li><a href="/ideas/add">Add Ideas</a></li>

        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>