<div class="card card-body">
    <h3>Video Ideas</h3>
    <form method="post" action="/ideas">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
        <label for="details">Details</label>
        <textarea class="form-control" name="details"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
    </form>
</div>