<div class="card card-body">
    <h3>Edit Video Ideas</h3>
    <form method="POST" action="/ideas/{{idea.id}}?_method=PUT">
    <input type="hidden" name="_method" value="PUT" >
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value={{idea.title}}>
    </div>
    <div class="form-group">
        <label for="details">Details</label>
        <textarea class="form-control" name="details">{{idea.details}}</textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
    </form>
</div>