{{#each ideas}}
<div class="jumbotron">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a class="btn btn-info btn-block" href="/ideas/edit/{{id}}">Edit</a>
    <form method="post" action="/ideas/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block" value="Delete">
    </form>
</div>
{{else}}
<p>No video ideas listed</p>
{{/each}}