<div class="row">
    <div class="col-md-6 mx-auto">
        <h3 class="text-center">Account Login</h3>
        <img src="/img/logo.png" class="logo center-block">
        <form method="POST" action="/users/register">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control" name="name" value="{{name}}" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" value="{{email}}" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" value="{{password}}" required>
            </div>
            <div class="form-group">
                <label for="password2">Enter Same Password</label>
                <input type="password" class="form-control" name="password2" value="{{password2}}" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>